matplotlib
networkx==3.2.1
numpy==1.26.3
pandas==2.3.3
plotly
pyvis
scikit-learn==1.6.1
seaborn
streamlit==1.50.0
torch==2.8.0
torch-geometric==2.6.1
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.8.0
torchvision==0.23.0
