--extra-index-url https://download.pytorch.org/whl/cpu
--find-links https://data.pyg.org/whl/torch-2.8.0+cpu.html

matplotlib
networkx==3.2.1
numpy==1.26.3
pandas==2.3.3
plotly
pyvis
scikit-learn==1.6.1
seaborn
streamlit==1.50.0
torch==2.8.0
torch-geometric==2.6.1
torchaudio==2.8.0
torchvision==0.23.0
pyg-lib==0.4.0+pt28cpu
torch_cluster==1.6.3+pt28cpu
torch_scatter==2.1.2+pt28cpu
torch_sparse==0.6.18+pt28cpu
torch_spline_conv==1.2.2+pt28cpu
